body {
    font-family: Arial, sans-serif;
    background: url('https://wallpapercave.com/wp/wp6134764.jpg') no-repeat center center fixed;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
}

.login-container {
    background: rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 20px;
    color: pink;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #ddd;
}

input[type="text"], 
input[type="password"],
input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

button {
    width: calc(100% - 22px);
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para o menu */
.menu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.menu button {
    margin: 0 10px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilos para os popups */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: rgba(0, 0, 0, 0.9);
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #ddd;
}

.popup-content h2 {
    margin-top: 0;
}

.close-btn {
    display: block;
    background: #ff0000;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
}

.popup-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.popup-content ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #444;
}

.popup-content ul li:last-child {
    border-bottom: none;
}

.whatsapp-btn {
    background: none;
    border: none;
    color: #25D366;
    font-size: 20px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: auto;
    height: auto;
}

.whatsapp-btn:hover {
    color: #1ebea5;
}
